NEXTAUTH_URL=http://localhost:3000

# Run this command to generate a new NEXTAUTH_SECRET: 
# openssl rand -base64 32
NEXTAUTH_SECRET="G30zcNVXgsKrIMP6uEDrpz5c0jSB/zhF2iPnsyXL7MI="

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXTAUTH_GITHUB_ID=
NEXTAUTH_GITHUB_SECRET=

NEXTAUTH_DRIZZLE_URL=postgres://<user>:<password>@localhost:5432/<database>?schema=public